<!-- <div class="top-strip"></div> -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="./">David Lang</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a href="#education">Education</a>
        </li>
        <li>
          <a href="#publications-and-conference-proceedings">Publications</a>
        </li>
        <li>
          <a href="#presentations">Presentations</a>
        </li>
        <li>
          <a href="#research-partnerships">Research</a>
        </li>
        <li>
          <a href="#awards">Awards</a>
        </li>
        <li>
          <a href="#projects-and-code">Projects</a>
        </li>
        <li>
          <a href="#skills-and-programming-languages">Skills</a>
        </li>
        <li>
          <a href="#employment">Employment</a>
        </li>
      </ul>
    </div>
  </div>
</div>