<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="keywords" content="David Lang, Standford University, Economics of Education, Data Science, Deep Knowledge Tracing.">

  <title>{{ page.urltitle }}</title>
  <meta name="description" content="{{site.description}}">

  <!--Open Graph Related Stuff-->
  <meta property="og:title" content="David Lang"/>
  <meta property="og:url" content="{{site.url}}"/>
  <meta property="og:description" content="{{site.description}}"/>
  <meta property="og:site_name" content="David Lang"/>
  <meta property="og:image" content="https://davidnathanlang.github.io/static/img/bernanke.jpg"/>
  <meta property="og:image:url" content="https://davidnathanlang.github.io/static/img/bernanke.jpg"/>

  <!--Twitter Card Stuff-->
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:title" content="David Lang"/>
  <meta name="twitter:image" content="https://davidnathanlang.github.io/static/img/bernanke.jpg"/>
  <meta name="twitter:url" content="{{site.url}}"/>
  <meta name="twitter:description" content="{{site.description}}"/>

  <!-- favicon  -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon-32x32.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon-16x16.png" | relative_url }}">
  <link rel="manifest" href="{{ "/site.webmanifest" | relative_url }}">

  <!-- CSS  -->
  <link rel="stylesheet" type="text/css" href="{{ "/static/css/bootstrap.min.css" | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ "/static/css/main.css" | relative_url }}" media="screen,projection">
  {% if page.layout == "post" %}
  <link rel="stylesheet" type="text/css" href="{{ "/static/css/highlight.css" | relative_url }}">
  {% endif %}
  {% if page.layout == "blog" %}
  <link rel="stylesheet" type="text/css" href="{{ "/static/css/bloglayout.css" | relative_url }}">
  {% endif %}
</head>
