.anchor:before {
  display: block;
  content: " ";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
}

body {
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #333;
  padding-top: 70px;
}

body *::selection {
  background: #e67e22;
  color: #fff;
}

.container {
  max-width: 980px;
}

.top-strip {
  background-color: #000;
  height: 0.25em;
  width: 100%;
}

h1,h2,h3 {
  color: #1a1a1a;
  font-weight: 300;
}

h1 {
  margin: 0 0 10px;
  font-size: 30px;
  line-height: 35px;
}

h2 {
  margin: 0 0 10px;
  font-size: 25px;
  line-height: 30px;
}

h3 {
  margin: 0;
  font-size: 20px;
  line-height: 25px;
}

.page-header {
  margin-top: 20px;
  /*border-color: #3498db;*/
}

p.authors {
  margin-bottom: 5px;
  color: #808080;
  font-size: 20px;
}

p.authors a {
  border-color: #dedede;
}

img {
  max-width: 100%;
}

p {
  text-align: justify;
}

a {
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  color: inherit;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}

a:hover {
  border-bottom: 1px solid #2196f3;
}


.navbar a {
  border-bottom: 0;
}

p.lead.authors a {
  border-bottom: none;
}

a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}

.thumb {
  margin: 20px 0;
  border: 1px solid #808080;
}

pre {
  color: #333;
  font-size: 12px;
  line-height: 17px;
}

#vimeo-embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

#vimeo-embed iframe,
#vimeo-embed object,
#vimeo-embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.people-pic {
  max-width: 100%;
  height: 125px;
}

.people-name {
  margin: 5px 0 10px;
}

.people-name h6 {
  margin: 2px 0;
  font-weight: 300;
  font-size: 11px;
}

#sequence {
  height: 70px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 300;
  fill: #fff;
}

#chart {
  position: relative;
  border-right: 1px solid #eee;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 240px;
  left: 180px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}

.sponsor img {
  max-height: 150px;
  max-width: 350px;
  /*border: 1px solid black;*/
  padding: 10px;
  margin-right: 20px;

}

.my-pic {
  max-height: 184px;
}

.press p img {
  height: 30px;
}

@media all and (max-width: 768px) {
  .press p img {
  height: 16px;
  }
}

.press a img {
  border-bottom: none;
}

.press p:nth-child(odd) {
    text-align: left;
}

.press p:nth-child(odd) a {
    margin-right: .5rem;
}


/* Publications page */

.year-links p, .year-links a {
  margin-right: 0.75rem;
  -ms-text-align-last: auto;
  text-align: left;
}

.pub .row {
  padding: 0 15px;
}

.pub .md-blue {
  color: #4D8DF4;
  font-weight: bold;
}

.pub .col-sm-7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 260px; */
  padding-left: 25px;
}

.pub .col-sm-7 p {
  margin-bottom: 3px;
  line-height: 21px;
  font-size: 14px;
}

.pub .col-sm-5 p {
  text-align: center;
  margin-bottom: 0;

}

.pub .col-sm-5 p img {
  /* max-height: 95px; */
  max-width: 200px;
}

.pub hr {
  margin: .75rem 0;
}

.pub h5 a {
  font-size: medium;
}

@media screen and (max-width: 991px) {
  .pub .col-sm-7 {
    height:auto;
    padding-left: 15px;
  }
  .pub .col-sm-7 p {
    text-align: left;
    font-size: 14px;
    letter-spacing: -0.01px !important;
    margin-bottom: 0;
    line-height: 20px;
  }
  #navbar-main > ul > li > a{
    padding-left: 0;
    font-size: 14px;
    letter-spacing: -0.1px;
  }
  #navbar-main > ul > li:last-child > a {
    padding-right: 0;
  }
}

.vertical-align {
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
  .row.vertical-align {
    display: block; /* Turn off the flexible box layout */
  }
  .pub .col-sm-7 {
    margin-top: 1rem;
  }
  .pub .col-sm-7 p {
    line-height: 19px;
  }
  .pub .col-sm-5 p {
    text-align: left;
  }
  .pub .col-sm-5 p img {
    /* max-height: 95px; */
    max-width: 200px;
  }
  ul.nav.navbar-nav {
    padding-left: 15px;
  }
}

/* Utility class */

.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}

.mb-1 {
  margin-bottom: 10px;
}
.mb-2 {
  margin-bottom: 20px;
}

.colon-pad {
width: 55px;
float: left;
}

.education {
width: 200px;
float: left;
}

@media (min-width: 992px) {
  .col-md-2.year {
    width: 11.8%;
  }
}

.font-100 {
  font-size: 100%;
}

.pagination {
  text-align: center;
  margin-top: 0px !important;
  margin-bottom: 55px;
  display: block;
}

figcaption {
  padding: 20px;
  font-size: 14px;
  color: #8b8b8b;
  background-color: #ffffff;
  line-height: 20px;
  text-align: center
}

.coding {
    background-color: #eff2ff !important;
    font-size: 12px !important;
    font-family: monospace !important;
    line-height: 25px;
    border-radius: 4px !important;
    padding: 3px 6px !important;
    color: #2a77d2 !important;
    border: 1px solid #d1d2fa
}

.note {
    padding: 30px;
    margin-bottom: 1.7em !important;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    position: relative;
    cursor: pointer;
    background-color: #ff00002b;
    border-radius: 10px
}
blockquote {
  background-color: #d6daff;
}

@media screen and (max-width: 640px) {
    .note {
        margin-left:-15px;
        margin-right: -15px;
        padding: 30px 15px;
        border-radius: 0px
    }
}

.note:hover,.note:active {
    box-shadow: 2px 5px 6px rgba(72,72,72,0.14)
}

.note p {
    margin: 0px !important;
    color: black !important
}

.note ul {
    margin: 0px !important;
    color: black !important
}

.note center {
    margin-top: 10px;
    font-size: 13px;
    color: rgba(0,0,0,0.4);
    font-style: italic
}

.post-heading h1 {
  max-width: 580px;
  color: #000 !important;
  font-size: 2.2em;
  text-align: center;
  word-wrap: break-word;
  line-height: 1.3em;
  /* font-family: "Poppins",sans-serif; */
  padding: 10px 10px 0px 0px;
  margin: 0px auto;
  font-weight: bold;
  letter-spacing: 0.6px
}

@media screen and (max-width: 640px) {
  .post-heading h1 {
    font-size:2rem;
    padding: 0px;
    max-width: auto;
    width: 100%;
    text-align: left
  }
}

@media screen and (max-width: 640px) {
  .categories-wrapper h1 {
    text-align:center !important
  }
}

.post-subheading p {
  color: #000;
  font-size: 14px;
  margin: 0 0 20px 0 !important;
  text-align: center;
}
.post-categories {
  color: #000;
  font-size: 14px;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .post-subheading p, .post-categories {
    text-align:left !important;
    padding-left: 1px
  }
}

.post-heading img {
  height: 70px;
  margin: 20px auto
}

.post-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.post-nav a {
  color: #2196f3;
  border-bottom: none;
}

.post-nav a:hover {
  text-decoration: underline;
}

.post-nav a:active {
  color: black;
}

.post-nav a:visited {
  color: purple;
}

.post-nav p {
    flex: 1 1 0;
    width: 45%;
}
.post-nav p:first-child {
    padding-right: 0.5em;
}
.post-nav p:last-child {
    padding-left: 0.5em;
    text-align: right;
}
html {
    scroll-behavior: smooth
}

#btnScrollTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 2000;
    border: none;
    outline: none;
    background-color: #2196f3;
    background-image: url("/static/img/up.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
    color: white;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    height: 50px;
    width: 50px;
    text-align: center;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    border-radius: 50%
}

@media screen and (max-width: 640px) {
    #btnScrollTop {
        bottom:80px;
        right: 0px;
        height: 40px;
        border-radius: 0px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px
    }
}
